<%-include("partials/header")-%>
<h1>Compose</h1>
<div class="form-group">


<form class="" action="compose" method="post">
  <label for="">Title</label>
  <br>
  <input type="text"class="form-control"  name="newTitle" placeholder = "Title for you blog post"value="">
  <br>
  <label for="">Post</label>
  <br>
  <textarea class="form-control" rows="10" name="newBody" placeholder="Write away..."></textarea>
  <br>
  <button type="submit"  class="btn btn-primary">Publish</button>
</form>
</div>


<%-include("partials/footer")-%>
